@media (max-width: 1499px) {

    #prodotto .titolo {
        width: 863px;
    }

    #main-container {
        padding: 20px;
    }

    #main-container-inner {
        width: 1150px;
    }

    #divanidiqualita {
        height: 779px;
    }

    #artigianalita, #imagebox, #imagebox.profile {
        height: 211px;
    }
}
