@media (max-width: 1449px) {

    #main-container {
        padding: 20px;
    }

    #main-container-inner {
        width: 1150px;
    }

    #divanidiqualita {
        height: 779px;
    }

    #artigianalita, #imagebox {
        height: 211px;
    }
}
