@media (max-width: 1449px) {
  /* line 3, ../../sass/responsive.scss */
  #main-container {
    padding: 20px;
  }

  /* line 7, ../../sass/responsive.scss */
  #main-container-inner {
    width: 1150px;
  }

  /* line 11, ../../sass/responsive.scss */
  #divanidiqualita {
    height: 779px;
  }

  /* line 15, ../../sass/responsive.scss */
  #artigianalita, #imagebox {
    height: 211px;
  }
}
