/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Brandon";
  src: url(../fonts/BrandonGrotesque-Regular.otf);
}
@font-face {
  font-family: "BrandonMedium";
  src: url(../fonts/BrandonGrotesque-Medium.otf);
}
@font-face {
  font-family: "BrandonBold";
  src: url(../fonts/BrandonGrotesque-Bold.otf);
}
@font-face {
  font-family: "BrandonBlack";
  src: url(../fonts/BrandonGrotesque-Black.otf);
}
/* line 29, ../../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 33, ../../sass/screen.scss */
body {
  font-family: "Brandon";
  background-color: #fff;
  padding: 26px;
}

/* line 39, ../../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 43, ../../sass/screen.scss */
img {
  border: 0;
}

/* line 47, ../../sass/screen.scss */
#main-container {
  width: 100%;
  background-color: #eaeaea;
}

/* line 52, ../../sass/screen.scss */
#main-container-inner {
  width: 1400px;
  margin: 0 auto;
}

/* line 57, ../../sass/screen.scss */
.mobi {
  display: none;
}

/* line 61, ../../sass/screen.scss */
.container {
  float: left;
  width: 100%;
  color: #4e4847;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
/* line 67, ../../sass/screen.scss */
.container.imgbox img {
  width: 100%;
}
/* line 71, ../../sass/screen.scss */
.container.paddingbottom {
  padding-bottom: 25px;
}
/* line 75, ../../sass/screen.scss */
.container.paddingleft {
  padding-left: 25px;
}
/* line 79, ../../sass/screen.scss */
.container.paddingright {
  padding-right: 25px;
}
/* line 83, ../../sass/screen.scss */
.container .container-inner {
  width: 100%;
  height: 100%;
}

/* line 89, ../../sass/screen.scss */
header.desktop {
  height: 260px;
  padding-top: 120px;
}

/* line 94, ../../sass/screen.scss */
#logocont {
  float: left;
  width: 15%;
  height: 58px;
}
/* line 99, ../../sass/screen.scss */
#logocont img {
  float: left;
}

/* line 104, ../../sass/screen.scss */
#menu {
  width: 85%;
  height: 58px;
  float: left;
  text-align: right;
  display: table-cell;
  vertical-align: bottom;
}

/* line 113, ../../sass/screen.scss */
#lang-container {
  display: inline-block;
}

/* line 117, ../../sass/screen.scss */
.menu-item {
  font-family: "BrandonMedium";
  font-size: 15px;
  color: #4e4847;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 34px;
  margin-top: 41px;
}
/* line 126, ../../sass/screen.scss */
.menu-item.active {
  font-family: "BrandonBlack";
}

/* line 131, ../../sass/screen.scss */
#lang-container {
  border: 1px solid #d8d8d8;
  height: 48px;
  line-height: 48px;
  width: 146px;
  padding-left: 22px;
  text-align: left;
  position: relative;
  cursor: pointer;
}
/* line 141, ../../sass/screen.scss */
#lang-container span {
  color: #4e4847;
  font-family: "BrandonBold";
  text-transform: uppercase;
}
/* line 147, ../../sass/screen.scss */
#lang-container .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 5px 0 5px;
  border-color: #4e4847 transparent transparent transparent;
  position: absolute;
  top: 20px;
  right: 22px;
}
/* line 158, ../../sass/screen.scss */
#lang-container #langs {
  position: absolute;
  top: 100%;
  left: -1px;
  width: 146px;
  max-height: 0;
  overflow: hidden;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 167, ../../sass/screen.scss */
#lang-container #langs a {
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  color: #fff;
  background-color: #c5c3c1;
  padding-left: 23px;
  font-family: "BrandonBold";
  text-transform: uppercase;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 179, ../../sass/screen.scss */
#lang-container #langs a:hover {
  background-color: #4e4847;
}

/* line 186, ../../sass/screen.scss */
#divanidiqualita {
  width: 40.7%;
  height: 827px;
}
/* line 190, ../../sass/screen.scss */
#divanidiqualita .container-inner {
  background-color: #c5c3c1;
  padding: 110px 128px 70px 62px;
}
/* line 195, ../../sass/screen.scss */
#divanidiqualita h1 {
  line-height: 120%;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 45px;
  font-family: "BrandonBold";
}
/* line 203, ../../sass/screen.scss */
#divanidiqualita.go-animation {
  width: 100%;
  padding-right: 0;
  z-index: 3;
}
/* line 208, ../../sass/screen.scss */
#divanidiqualita.go-animation .hid-animation {
  display: none;
}
/* line 212, ../../sass/screen.scss */
#divanidiqualita.go-animation .show-animation {
  display: inline;
}
/* line 216, ../../sass/screen.scss */
#divanidiqualita.go-animation #close-fulltext span {
  display: block;
}
/* line 221, ../../sass/screen.scss */
#divanidiqualita #close-fulltext {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 120px;
  right: 70px;
  cursor: pointer;
}
/* line 229, ../../sass/screen.scss */
#divanidiqualita #close-fulltext span {
  position: absolute;
  display: block;
  width: 26px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #4e4847;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: none;
}
/* line 242, ../../sass/screen.scss */
#divanidiqualita #close-fulltext span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 2px;
  background-color: #4e4847;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 256, ../../sass/screen.scss */
p {
  font-size: 27px;
  color: #4e4847;
  line-height: 120%;
  font-family: "Brandon";
}
/* line 262, ../../sass/screen.scss */
p b, p strong {
  font-family: "BrandonBold";
}

/* line 267, ../../sass/screen.scss */
.bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #4e4847;
  color: #fff;
}

/* line 277, ../../sass/screen.scss */
.right-bar {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  width: 70px;
  background-color: #4e4847;
  color: #fff;
}

/* line 287, ../../sass/screen.scss */
.relative {
  position: relative;
}

/* line 291, ../../sass/screen.scss */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 298, ../../sass/screen.scss */
.pointer {
  cursor: pointer;
}

/* line 302, ../../sass/screen.scss */
.triangle-bottom {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 12px 0 12px;
  border-color: #ffffff transparent transparent transparent;
}

/* line 310, ../../sass/screen.scss */
#sofa {
  height: 568px;
  width: 59.3%;
}
/* line 314, ../../sass/screen.scss */
#sofa .container-inner {
  background-color: #fff;
}
/* line 318, ../../sass/screen.scss */
#sofa img {
  position: absolute;
  bottom: 40px;
}

/* line 324, ../../sass/screen.scss */
.clearfix {
  clear: both;
}

/* line 328, ../../sass/screen.scss */
#imagebox {
  width: 40.7%;
  height: 259px;
}

/* line 333, ../../sass/screen.scss */
#artigianalita {
  width: 18.6%;
  height: 259px;
  background-color: #4e4847;
  font-size: 28px;
  font-family: "Brandon";
  text-transform: uppercase;
  line-height: 120%;
  color: #fff;
}

/* line 344, ../../sass/screen.scss */
.table {
  display: table;
}
/* line 347, ../../sass/screen.scss */
.table .cell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

/* line 356, ../../sass/screen.scss */
.hoverable {
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 359, ../../sass/screen.scss */
.hoverable:hover {
  background-color: #867e75;
}

/* line 364, ../../sass/screen.scss */
#grid {
  width: 100%;
  float: left;
  position: relative;
}

/* line 370, ../../sass/screen.scss */
.hoverable-bottom {
  overflow: hidden;
}
/* line 373, ../../sass/screen.scss */
.hoverable-bottom .hover {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: #807971;
  opacity: 0.9;
  color: #fff;
  font-size: 28px;
  font-family: "Brandon";
  line-height: 120%;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 386, ../../sass/screen.scss */
.hoverable-bottom .hover .centered {
  width: 70%;
  text-align: center;
  opacity: 0;
  top: 75%;
}
/* line 394, ../../sass/screen.scss */
.hoverable-bottom:hover .hover {
  top: 0;
}
/* line 397, ../../sass/screen.scss */
.hoverable-bottom:hover .hover .centered {
  -moz-animation: fadeToTop 1s 1;
  -webkit-animation: fadeToTop 1s 1;
  animation: fadeToTop 1s 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 406, ../../sass/screen.scss */
footer {
  height: 284px;
  float: left;
  width: 100%;
}
/* line 411, ../../sass/screen.scss */
footer #line1 {
  width: 100%;
  height: 169px;
  padding-bottom: 30px;
  position: relative;
  border-bottom: 1px solid #d1d1d1;
}
/* line 418, ../../sass/screen.scss */
footer #line1 .half-width {
  width: 50%;
  float: left;
  position: absolute;
  bottom: 30px;
  left: 0;
}
/* line 425, ../../sass/screen.scss */
footer #line1 .half-width.right {
  right: 0;
  left: auto;
  text-align: right;
}
/* line 431, ../../sass/screen.scss */
footer #line1 .half-width .social {
  display: inline-block;
  width: 46px;
  height: 46px;
  text-align: center;
  border: 1px solid #d8d8d8;
  cursor: pointer;
  margin-left: 15px;
  position: relative;
}

/* line 445, ../../sass/screen.scss */
.show-animation {
  display: none;
}

/* line 449, ../../sass/screen.scss */
.hidden {
  display: none;
}
