extends ./layout.jade

block content
    div#slider.container.imgbox
        img(src='img/slider/1.png')

    div.container.container-gray
      h1 Divani di qualit&agrave; dal 2002
      p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit ...
      div.btn.continua Continua

    div#sofa.container.relative
      img(src='img/sofa.png')
      div.goto-box.table
        div.cell
          div.triangle-bottom

    div.imgbox.container.relative
      img(src='img/boximg.png')

    div#artigianalita.container.table
      div.cell
        span Artigianalit&agrave; & esperienza

        h1
