extends ./layout.jade

block content
    div#grid
      div#slider.container.imgbox.paddingbottom
        div.container-inner
          img(src='img/slider/1.png')

      div#divanidiqualita.container.container-gray.paddingright
        div.container-inner.relative
          h1 Divani di qualit&agrave; dal 2002
          p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit 
            span.hid-animation ...
            span.show-animation Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit

          div#open-fulltext.bottom-bar.pointer.hoverable
            div.triangle-bottom.centered

        div#close-fulltext
          span

      div#sofa.container.paddingbottom
        div.container-inner.relative
          img(src='img/sofa.png')

          div.right-bar.pointer.hoverable
            div.triangle-bottom.centered

      div#imagebox.imgbox.container.paddingright
        div.container-inner.hoverable-bottom.relative
          img(src='img/boximg.png')
          div.hover
            div.centered SERVIZI ALL-INCLUSIVE DAL PRODUTTORE

      div#artigianalita.container
        div.container-inner.table.hoverable
          div.cell
            span Artigianalit&agrave; & esperienza
