extends ./layout.jade

block content
    div#grid

      div#divanidiqualita.container.container-gray.paddingbottom.ildivano
        div.container-inner.relative
          h1 Divani di qualit&agrave; dal 2002
          p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit 
          p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit 

      div#textbox.container-gray.container.paddingright.ildivano
        div.container-inner.relative
          p.centered-vertical Fusce dapibus, tellus cursus commodo, tortor mauris condimentum nibh, ut fermentum massa usto sit amet risus.

      div#imagebox.imgbox.container.paddingright
        div.container-inner.hoverable-bottom.relative
          img(src='img/boximg.png')
          div.hover
            div.centered SERVIZI ALL-INCLUSIVE DAL PRODUTTORE
     
      a(href="contatti.html")#contatti.container
        div.container-inner.relative.hoverable
          div.centered ARTIGIANALIT&Agrave; & ESPERIENZA



