extends ./layout.jade

block content
    div#grid

      div#slider.container.imgbox.paddingbottom
        div.container-inner
          img(src='img/slider/1.png')

      div#divanidiqualita.container.container-gray.paddingright.profile
        div.container-inner.relative
          h1 Divani di qualit&agrave; dal 2002
          p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit 
          p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit 

          div.condividibar
            span CONDIVIDI
            a(href="#").bu
              img(src="img/busta.png")
            a(href="#").fb
              img(src="img/minifb.png")
            a(href="#").tw
              img(src="img/minitw.png")

      a#telefono.container.paddingbottom.profile
        div.container-inner.relative
          div.centered
            img(src="img/cornetta.png")
            span Contatto telefonico

      div#informazioni.container.paddingbottom.profile
        div.container-inner.relative.hoverable
          div.centered
            img(src="img/busta.png")
            span Richiesta Informazioni

      a(href="prodotti.html")#contatti.container.profile.paddingbottom
        div.container-inner.relative.hoverable
          div.centered TIPOLOGIE DI REALIZZAZIONE

      div#imagebox.imgbox.container.profile
        div.container-inner.hoverable-bottom.relative
          img(src='img/boximg.png')
          div.hover
            div.centered SERVIZI ALL-INCLUSIVE DAL PRODUTTORE
