extends ./layout.jade

block content
    div#grid

      div.prodotti-box.container.paddingright.paddingbottom.hoverable-prodotti
        div.container-inner.relative
          img(src="img/prodotti1.png")
          div.hover
            span.title Tessuto
            a(href="prodotto.html").btn-prodotti ALCUNI ESEMPI DI REALIZZAZIONE


      div.prodotti-box.container.paddingbottom.hoverable-prodotti
        div.container-inner.relative
          img(src="img/prodotti2.png")
          div.hover
            span.title Pelle
            a(href="prodotto.html").btn-prodotti ALCUNI ESEMPI DI REALIZZAZIONE

      div.prodotti-box.container.paddingright.paddingbottom.hoverable-prodotti
        div.container-inner.relative
          img(src="img/prodotti3.png")
          div.hover
            span.title Ecopelle
            a(href="prodotto.html").btn-prodotti ALCUNI ESEMPI DI REALIZZAZIONE

      div.prodotti-box.container.paddingbottom.hoverable-prodotti
        div.container-inner.relative
          img(src="img/prodotti1.png")
          div.hover
            span.title Ecopelle + Tessuto
            a(href="prodotto.html").btn-prodotti ALCUNI ESEMPI DI REALIZZAZIONE

      div#textbox.container-gray.container.paddingright
        div.container-inner.relative
          p.centered-vertical Fusce dapibus, tellus cursus commodo, tortor mauris condimentum nibh, ut fermentum massa usto sit amet risus. <b>Lorem ipsum dolor sit amet, consectetur adiscipling elit</b>. Fusce dapibus, tellus cursus commodo, tortor mauris condimentum nibh, ut fermentum massa usto sit amet risus, ut fermentum massa justo risus ...
     
      a(href="contatti.html")#contatti.container
        div.container-inner.relative.hoverable
          div.centered CONTATTI
